# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        #exclude_types: [jinja, text]
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8

  - repo: https://github.com/pycqa/pylint
    rev: 'pylint-2.6.0'
    hooks:
      - id: pylint # Use pylintrc file in repository
        name: Check for Linting error on Python files
        description: This hook runs pylint.
        types: [python]
        args:
          # Suppress duplicate code for modules header
          - -d duplicate-code, no-self-use
        additional_dependencies:
          - jinja2
        exclude: ^tests/
