{#
 Copyright (c) 2021-2023 Arista Networks, Inc.
 Use of this source code is governed by the MIT license
 that can be found in the LICENSE file.
#}
{{ethernet}}
{{ ethernet}}
# Too many spaces
{{      ethernet}}
{{ ethernet     }}
{{ethernet }}
{{+ethernet }}
{{-ethernet }}
{{ ethernet-}}
# Next ones should not fail
{{ ethernet }}
# cf issue/62
{% set row.line = row.line ~ "| {t:{t_width}} ".format(t=text, t_width=table.column_width[key]) %}
