{{ test|list }}
{{ test| list }}
{{ test |list }}
{{ test | list }}
{# double error in same line #}
{{ test+ blah| list }}
{# double quotes #}
{{ "test" |list }}
{# single quotes #}
{{ 'test' |list }}
{# the two next lines should not trigger #}
{{ test | replace('|', '\|') }}
{{ test | replace("|", "\|") }}
